.red-color {
    color: #FF0000;
}
.green-color {
    color: #00FF00;
}
.blue-color {
    color: #0000FF;
}

.FancyBorder {
    padding: 10px 10px;
    border: 10px solid;
}

.FancyBorder-blue {
    border-color: blue;
}

.FancyBorder-red {
    border-color: red;
}

.Dialog-title {
    margin: 0;
    font-family: sans-serif;
}

.Dialog-message {
    font-size: larger;
}